@import url('https://fonts.googleapis.com/css2?family=Junge&family=League+Spartan:wght@600;700&family=Poppins:wght@200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#index{
    background-image: url('/img/bgutama.jpg');
    height: 550px;
}
header h2{
    color: #fff;
    font-size: 30px;
}
header h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(253, 253, 253);
    margin-top: 200px;
    font-family: Georgia, serif;

}
header p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 24px;
    font-family: monospace;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    padding: 50px;
}
.nav_links ul li{
    display: inline;
    text-align: center;
    padding: 20px 24px;
    line-height: 74px;
    list-style: none;
}
.nav_links ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.nav_links ul li a:hover{
    color: #E58411;
}
.container{
    padding: 50px;
}
.cont-top{
    display: flex;
    justify-content: space-around;
    column-gap: 70px;
    align-items: center;
    
}
.cont-top h2{
    font-size: 24px;
}
.cont-top .isi{
    line-height: 148%;
    padding: 20px;
}
.cont-top .isi h3{
    color: #E58411;
}

.fot{
    display: flex;
    padding: 100px;
    justify-content: space-between;
}
.foot li{
    list-style: none;
    padding: 10px 0px;
    
}
.foot h4{
    color: #E58411;
}
.foot li a{
    text-decoration: none;
    color: #000;
}
.bot{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}
.bot .copy li{
    list-style: none;
    padding: 0 20px;
    display: inline;

}
.bot .copy li a{
    text-decoration: none;
    color: #000;
}
#gallery{
    background-image: url('img/bgutama.jpg');
    height: 809px;
}
.cont-card{
    background-color: #F7F7F7;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 100px;
    column-gap: 50px;
    row-gap: 50px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 27%);
}
.card{
    padding: 20px;
    width: 268px;
    height: 492px;
    
}
.card .detail{
    background-color: rgb(247, 243, 243);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;

}
.barang{
    background-color: #fafafa;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.barang img{
    width: 217.9px;
    height: 255.9px;
}
.barang img:hover{
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.742), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #c1c0c0;
    width: 229px;
    height: 259px;
}

.harga{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.form{
    display: flex;
    justify-content: center;
    place-content: center;
    height: 1324px;
    margin-top: -1000px;
    background-color: rgba(0, 0, 0, 0.726);
}
.cont-form{
    width: 782px;
    height: 824px;
    position: absolute;
    top: 200px;
    background-color: #E0DFDF;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.742), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.cont-form h1{
    text-align: center;

}
.input{
    padding: 20px 0;
}
.cont-form label{
    font-size: 20px;
    font-weight: 600;
    color: #4D5959;
}
input[type=text]{
    width: 100%;
    height: 65px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
.buttonHolder{
    text-align: center;
}

#btn_s{
    padding: 10px 40px;
    background-color: #007074;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 8px;
}
#btn_s:hover{
    background-color: #005e61;
}